body {
    display: flex;
    justify-content: center;
}

#resume {
    width: 75%;
}

.resume-header,
.resume-sub-header {
    display: flex;
    justify-content: space-between;
}

.resume-sub-header {
    font-style: italic;
}

.university {
    margin-bottom: 24px;
}

.course-work {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0 24px;
}