body {
    display: flex;
    justify-content: center;
}

main {
    width: 75%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 500px;
}

/* 
The #photo id selector won over the img selector
img has a specificity of 10
#photo has a specificity of 1000
#photo has a higher specificity, so it wins out over img 
*/
#photo {
    width: 100px;
}

h3 {
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.resume-header,
.resume-sub-header {
    display: flex;
    justify-content: space-between;
}

.resume-sub-header {
    font-style: italic;
}

.university {
    margin-bottom: 24px;
}

.course-work {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0 24px;
}